@import url('https://fonts.googleapis.com/css?family=Acme');

body{
    background-image: url("checkered.png");
    background-attachment: fixed;
    font-family: 'Acme', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 0 8px #800080;
}